.title, ul, .result  {
    text-align: center;
}

.game-scores, .game-play {
    display: flex;
    justify-content: space-around;
}

.game-play {
    align-items: center;
}

li {
    list-style-type: none;
}

.title, .game-scores, li {
    margin: 20px;
}